.loginIcon{
    display: flex;
    border: .5px solid rgb(175, 175, 175);
    padding: .5rem 1rem;
    border-radius: 10px;
    flex-direction: row-reverse;
    
}
.OuterContainer{
    display: flex;
    align-items: center;
    font-size: 13px;
}