.OuterContainer{
    background-color: rgb(246, 250, 254);
    display: flex;
    width: 97%;
margin: 4rem auto;
margin: 4rem auto 0 auto;
}
.BannerImg{
    margin: 0 auto;
    width: 48%;
    border-radius: 20px;
}